*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: black;

}
/* Navbar */
.Nav{
    height: 13vh;
    min-width: 100%;
    display: flex;
    border: 1px solid ;
    background-color: #0e2427;
}
.navbar{
    background-color: #0e2427;
    padding:13px;
}
ul{
    display: flex;
    list-style-type: none;
    background-color: #0e2427;
}
ul li{
  padding:10px 20px;
  color: white;
  background-color: #0e2427;
}
.logo{
    margin:14px 20px;
    width:  175px;
    height: 35px;
    background-color: #0e2427;
}
.cards{
    height: 30vh;
    min-width:22%;
    margin-left: 20px;
    border-radius: 2%;
}
.Firstsec{
    height: 35vh;
    width: 100%;
    border: 1px solid ;
    display:flex;
    overflow-x: auto;
    align-items: center;
    padding: 2px;

}
.Firstsec::-webkit-scrollbar{
    display: none;
}
.image{
    width: 100%;
    height: 100%;
    border-radius: 2%;
}




.cards2{
    height: 30vh;
    min-width:22%;
    margin-left: 20px;
    border-radius: 2%;
}
.Secondsec{
    height: 35vh;
    width: 100%;
    border: 1px solid ;
    display:flex;
    overflow-x: auto;
    align-items: center;
    padding: 2px;

}
.Secondsec::-webkit-scrollbar{
    display: none;
}
.image2{
    width: 100%;
    height: 100%;
    border-radius: 2%;
}

.card3{
    height: 30vh;
    min-width:22%;
    margin-left: 20px;
    border-radius: 2%;
}
.Thirdsec{
    height: 35vh;
    width: 100%;
    border: 1px solid ;
    display:flex;
    overflow-x: auto;
    align-items: center;
    padding: 2px;

}
.Thirdsec::-webkit-scrollbar{
    display: none;
}
.image3{
    width: 100%;
    height: 100%;
    border-radius: 2%;
}

.card4{
    height: 30vh;
    min-width:22%;
    margin-left: 20px;
    border-radius: 2%;
}
.Foursec{
    height: 38vh;
    width: 100%;
    border: 1px solid ;
    display:flex;
    overflow-x: auto;
    padding: 2px;
    flex-wrap: wrap;
    align-content: space-between;

}
.Foursec::-webkit-scrollbar{
    display: none;
}
.image4{
    width: 100%;
    height: 100%;
    border-radius: 2%;
}
.Foursec section{
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    overflow-x: auto;
}
.Foursec h3{
    width:100%;
    padding: 5px;
color:white;
}