*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: normal;
   
}
*::-webkit-scrollbar{
    overflow: hidden;
}
/* Nav bar  */
.nav{
    height: 15vh;
    min-width: 100%;
    display: flex;
    background-color: rgb(254, 254, 254);
    border: 1px solid rgb(192, 191, 191);
}
.logo{
    margin:22px 20px;
    width:110px;
    height:30px;
}
ul{
    display: flex;
    list-style-type: none;
  
}
ul li{
  padding: 22px;
  color: rgb(103, 102, 102);
}
ul li input{
  width:250px;
  height: 50px;
  outline-color: rgb(139, 139, 139);
}

/* Carousels  */
.cards{
    height: 30vh;
    min-width:22%;
    margin-right: 25px;
    margin-left: 20px;

}
.carousels{
    height: 35vh;
    width: 100%;
    border: 1px solid ;
    display:flex;
    overflow-x: auto;
    align-items: center;
    padding: 2px;

}
.carousels::-webkit-scrollbar{
    display: none;
}
.image{
    width: 100%;
    height: 100%;
}

/* Services  */
.left{
    width:40%;
}
.left h1{
    font-size: 38px;
    padding:12px;
}
.Service{
    display: flex;
    height: 700px;
    margin-top: 50px;
  
}
.Rightimg{
    /* margin: 50px 450px; */
    height: 94%;
    width:650px;
    margin-left:18%;
}
.crd{
    width: 100%;
    height: 95vh;
    border:1px solid  rgb(216, 216, 216) ;
    border-radius: 3%;
    margin-left:12px;
    display: flex;
    flex-wrap: wrap;

}
.sercard{
    width: 30%;
    height: 20%;
    background-color: rgba(227, 225, 225, 0.396);
    margin:20px 20px;

}
.ser{
    display:flex;
    flex-wrap: wrap;
    height: 50%;
    width: 80%;
    border-radius: 12%;
}
.new{
    width: 100%;
    height: 100%;
    overflow-x: auto;
    display: flex;
}
.newcard{
    width:20%;
    height: 10%;
    padding:20px 20px;

}
.img{
    display:flex;

}