* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
i {
  position: relative;
  left: 20px;
  top: 25px;
  width: 200px;
}
section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 50px;
  background-color: black;
}
ul {
  width: 100%;
  height: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}
li {
  display: flex;
  flex-wrap: wrap;
  color: white;
  padding: 3px 20px;
  justify-content: end;
  line-height: 40px;
  border-radius: 5px;
}

ul li:hover{
  border-bottom:2px solid #B197FC;
}
ul input {
  width: 250px;
  height: 30px;
  position: relative;
  top: 12px;
  left: 45px;
  padding: 12px;
}
.cards{
  height: 100%;
  width:100%;
  display: flex;
  flex-wrap:wrap;
  padding:15px;
  justify-content: space-evenly;
  background:linear-gradient( #b198fc,#d2c6f9,#e2ddf1);
}
.card{
  height: 200px;
  width:240px;
  border:1px solid #7346fb;
  display: flex;
  flex-wrap:wrap;
  padding:20px;
  border-radius: 17px;
  margin-bottom:22px;
  margin-left: 20px;
  background-color: #e1d9f8;
}

.card:hover{
  box-shadow: 5px 5px 5px black;
}